{% extends 'base.html' %}
{set title = 'Leaderboard'}
{% block styles %}
<link href="/res/style/leaderboard.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{# ↓ This part will be rendered by the server #}
{% raw %}
<ol>
{% for user in leaderboard %}
<li>
	<img src="{{user.avatar_url}}">
	<span><strong><a href="https://github.com/{{user.username}}" target="_blank" rel="noopener">{{user.username}}</a></strong> - {{user.problems_count}}</span>
</li>
{% endfor %}
</ol>
{% endraw %}
{% endblock %}
