{% extends 'base.html' %}
{set title = 'Grading Result'}
{% block styles %}
<link href="/res/style/problem_response.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{# ↓ This part will be rendered by the server #}
{% raw %}
<h2 style="margin-top: 0;">Results for Problem {{num}}</h2>
<h4 style="margin-top: 0;"><span class="result_{{type | lower}}">{{type | capitalize}}:&nbsp;</span>{{result}}</h4>
<hr>
<p>Your submission was <code>{{submissiontext}}</code> which was {% if isNaN(submission) %}unable to be parsed{% else %}parsed as <code>{{submission}}</code>{% endif %}.</p>
{% endraw %}
{% endblock %}
{% block scripts %}
{% raw %}
{% if newproblems %}
<script>
	let problems = JSON.parse(localStorage.getItem('problems'));
	problems = new Set(problems === null ? [ 1, ] : problems);
	[{{newproblems}}].forEach(problem => problems.add(problem));
	localStorage.setItem('problems', JSON.stringify([...problems]));
</script>
{% endif %}
{% endraw %}
{% endblock %}
