{% extends 'problem.html' %}
{% set name = 'Introduction' %}
{% set num = 1 %}
{% set author = 'Eric L., Oleksandr G., Matt F, and Ashish J.' %}
{% set examples = [[['5 2', '3', '5', '1', '9', '4'], '14'], [['8 5', '3','5', '8', '1', '10', '8', '2', '3'], '34']] %}
{% block problem %}
<b>Attention all citizens. The Omni Republic has hereby passed the Digital Eradication Act of 2091, effective today. All blocklisted citizens with histories of manipulating electronics must be turned into government officials with bounties of 20,000 bits.
Failure to comply may result in a forceful capture.</b>
<br>
It is the year 2091. Following the Robot Revolution of 2077, the vast majority of the human population has been relocated to Omni,
guarded by magnetic pulses that deter any robots from entering. To prevent aiding the robots, the government is taking custody of all
coders who have the power to help the machines.
<br>
One unfortunate victim of the act is Mason, a talented programmer that has studied code all his life. After being evacuated from his parents
at a very young age, Mason studied code in an attempt to help defuse the robots that terrorized the lands. His connection to code was looked
down upon by his community, so he knew that his neighbors would be quick to turn him into the Omni Republic, which was why Mason had to hurry
and escape the town before anyone caught trace of him.
<br>
However, Mason knew that he couldn't leave without any resources, which was why he needed to fill his two backpacks with items of important value.
After packing the first backpack with essentials such as food, water, utensils, and computer, Mason looked to his gadgets drawer to fill the other bag.
Since modularity was very important to Mason, all of his <i>N</i> gadgets (1 ≤ <i>N</i> ≤ 100) have the same size, and Mason's backpack can fit <i>M</i> gadgets at most (1 ≤ <i>M</i> ≤ N).
<br>
Help Mason determine the maximum value of gadgets he can fit in his backpack.
<br>
INPUT:
<br>
The first line contains two numbers <i>N</i> and <i>M</i>. The next <i>N</i> lines each contain a number representing a different gadget's value.
<br>
OUTPUT:
<br>
Please enter the maximum value of gadgets he can bring along with him.
{% endblock %}
