{% extends 'problem.html' %}
{% set name = 'Junkyard' %}
{% set num = 2 %}
{% set author = 'Eric L.' %}
{% set examples = [[['2', '5', '10'], '10'], [['7', '1','2', '4', '9', '3', '5', '3'], '180']] %}
{% block problem %}
After a brief moment of consideration, Mason knew that one of the only places he would be safe would be to hide in the junkyard. He slowly made his way to the junkyard, being careful to avoid anyone in sight, but just as he approached the gates of the junkyard, he noticed the searchlights surrounding the place. They must have known that the wanted victims would try and hide in one of the most isolated places in Omni.
<br>
However, Mason realized that there was a very obvious pattern that these searchlights followed, and if he could climb over the gates when all
the searchlights were focused on a single point, then no one will be able to see him climb the fence.
<br>
After further observation, Mason noted that each of the <i>N</i> searchlights (1 ≤ <i>N</i> ≤ 30) takes a whole number of minutes to circle around the junkyard, all eventually highlighting the gates, meaning he would need to cross the fence when they all concentrate on the gate.
<br>
However, Mason just barely missed the time frame for the first time the lights are all focused on the gates. Help Mason determine
how long he would have to wait until his next shot at climbing the gates.
<br>
INPUT:
<br>
The first line of input contains the integer <i>N</i>. The next <i>N</i> lines each describe how long a searchlight takes to complete a cycle.
<br>
OUTPUT:
<br>
Enter the minimum time Mason will have to wait until all the lights are focused on the gates again, in minutes.
<br>
{% endblock %}
