{% extends 'problem.html' %}
{% set name = 'Building the Barn' %}
{% set num = 2 %}
{% set author = 'Eric L.'%}
{% set examples = [[['50 1 2', '3', '10'], '5'], [['200 2 4', '10', '5', '15', '20'], '6']] %}
{% block problem %}

<p><strong>Problem 2: Building the Barn</strong></p>
<p>Rancher Jane has recently started construction on a new barn for her farm.  Building the barn requires a total of <em>B</em> (1 ≤B ≤ 10<sup>6</sup>) bricks to complete the entire building.  At the rate that Rancher Jane is building, it will take her forever to complete the barn.</p>
<p>However, Rancher Jane has recently discovered that hens are suprisingly efficient at building farms, which is why she’s decided to enlist <em>M</em> of her <em>N</em> hens (1 ≤ <em>M</em> ≤ <em>N</em> ≤ 2,500) to help her build her farm.   Each hen works at a constant speed of laying down bricks and every hen works together cooperatively without interfering each other.  For example, if Chloe the hen lays down 15 bricks per hour and Denise the hen lays down 20 bricks per hour, Denise and Chloe would lay down 35 bricks per hour.</p>
<p>Please help Rancher Jane determine how long she would have to wait before the hens are done building the barn.</p>
<p><em>Input</em><br>
The first line contains the numbers <em>B</em>, <em>N</em>, and <em>M</em>.  The next <em>N</em> lines each contain a positive integer that describes the number of bricks a certain hen can lay in an hour.</p>
<p><em>Output</em><br>
Determine how many hours it would take her <em>M</em> fastest working hens to finish the barn if they all worked non-stop.  Round up to the nearest integer.</p>
