{% extends 'problem.html' %}
{% set name = 'Passcodes' %}
{% set num = 3 %}
{% set author = 'Eric L.' %}
{% set examples = [[['2', '1728', '1210'], '1'], [['5', '1210','1980', '2020', '1784', '1994'], '2']] %}
{% block problem %}
Almost instantly, Mason decides that going to John's house would be his safest bet. After all, they've been friends since they were in school,
and they've always supported Mason, so they would be sure to help him out in his times of need.
<br><br>
Mason quickly ran across the streets, hiding behind houses to ensure he wouldn't be caught, and after an hour of nonstop running, Mason finally made it to John's house. He jammed his finger into the doorbell, afraid that John's neighbors might see him, but after ringing it a dozen more times with no response, Mason came to the daunting conclusion that John must've left to attend school, during the time when Mason needed him the most.
<br><br>
Frustration filled Mason, but it was washed away by fear when he heard someone down the street say "I swear that boy was just running past here, honest! I thought it was some regular person, not the wanted fugitive!"
<br><br>
"Just check down the street for signs of that darned criminal."
<br><br>
Mason knew that his hunters would be approaching him any second now, so he needed to hide somewhere. The only place he could think of was John's house.
<br><br>
Mason didn't have the heart to break in, and even if he did, the prosecutors would hear him. The front door was guarded by an alarm, so if he tried to tamper with the system, it would attract the attention of everyone around him. This meant his only option would be to try and crack the code for the back door.
<br><br>
Although Mason didn't remember the exact password, he remembered the unique property of John's passwords that John had previously told him about. The password was at most 10 digits long, and each digit has its own index, starting from 0 on the left and increasing from left to right. For example, in the passcode 1728, the index of 1 is zero, the index of 7 is one, the index of 2 is two, and the index of 8 is three.
<br><br>
In the passcode, the digit corresponding to each index is how many times the index appears in the passcode. One example of a number with this property is the number 1210. There is exactly 1 zero, 2 ones, 1 two, and 0 threes in the passcode, so 1210 satisfies this requirement.
<br><br>
Given a list of <i>N</i> random positive integers (1 ≤ <i>N</i> ≤ 1000), help Mason determine how many of these numbers are potential passcodes.
<br><br>
INPUT:
<br>
The first line of the input file is the number <i>N</i>. The next <i>N</i> lines each describe a random positive integer.
<br><br>
OUTPUT:
<br>
Enter how many of these <i>N</i> integers satisfy the special conditions of John's passwords.
{% endblock %}
