{% extends 'problem.html' %}
{% set name = 'Sewers' %}
{% set num = 7 %}
{% set author = 'Eric L.' %}
{% set examples = [[['5 6', '####*#', '####*#', '##***#', '##*#*#', '#**#*#', '#*##*#'], '6'], [['10 10', '#*#*#####*','#***#####*', '###*******', '###*###*##', '****###*##', '*##*#*#*##', '**********', '#*###*##**', '#*##******', '#*##*####*'], '12']] %}
{% block problem %}
Mason decides that the only way to stop the Digital Eradication Act would be to try and stop it himself at the Capitol, although doing so would be no easy feat.
Taking the previously found path, Mason waded through the foul sewer water to make his way towards the building.
<br>
This journey would take many hours due to how large Omni really was, which gave Mason a lot of time to think about how he might be able to abolish the new
act. A single person like Mason would probe futile to the burly guardsmen or traps sure to be set up in the untrusting dictator's building, so he would definitely need to enlist the help of other citizens.  Doing so would prove to be a challenge since Mason was now a wanted criminal.
<br>
After a bit more thought, Mason realized that if he had enough bits, he could potentially bribe the desperate citizens to aid him in his actions.  With enough
manpower, Mason would surely be able to overthrow the government and clear the names of all other programmers.  The main challenge would then be to sneak into the banking system to try and retrieve the bits, which would be easier said than done.
<br>
Finally, Mason saw the opening for the Capitol, with the bank being directly located to the left of it.  Upon getting a closer inspection at the place,
Mason concluded that the bank was a heavily fortified building guarded by thick metal vault doors and dozens of armored guards.  This meant that entering
from the worn-down roof would be his best bet.
<br>
To scale the building, Mason would need to both avoid the security cameras and also find a way up.  The first issue could be solved by using a
directed EMP to break down the cameras, and Mason found that the building adjacent to the bank has pipes that Mason can climb on to get up.  After getting to the roof, Mason can simply jump to the bank's roof.
<br>
This face of the building, which is W (1 ≤ 100) feet by H (1 ≤ 100) feet.  Asterisks (*) represent parts of the wall that Mason can climb and hash marks (#)
represent empty wall.  For example, a 5 by 6 feet wall can be depicted as follows:
<pre>
####*#
####*#
##***#
##*#*#
#**#*#
#*##*#
</pre>
The two paths that Mason can take in this scenario are starting from the second point or the fourth point.  The former path would take 9 feet to climb, whereas
the latter path is just a vertical pipe and is only 6 feet long.
<br>
Every second he spends on the walls is a second that Mason might get caught, so help Mason find the minimum path length up the wall.
<br>
INPUT:
<br>
The first line contains integers W, which is how wide the building is, and H, which is how tall the building is.  The next H lines each contain W symbols
depicting whether that part of the wall is empty or contains a pipe.
<br>
OUTPUT:
<br>
Please enter the minimum distance Mason has to travel to climb to the top of the building.
<br>
{% endblock %}
