{% extends 'base.html' %}
{% set title = '' %}
{% block styles %}
<link rel="stylesheet" href="/res/style/about.css" text="text/css">
{% endblock %}
{% block content %}
<div class = "about">
	<h1>About Us</h1>
	<p>We are a group of students with a passion for Computer Science. We strive to bring together a community of students who love to code. As a club we participate in various events and work on projects.</p>
</div>
<div class = "about">
	<h1>About The Problems</h1>
	<p>Welcome to <em>The Trials of Bits and Bytes</em>, a choose your own adventure game full of programming puzzles to help sharpen your skills. Work your way through problems, with branching paths determining which action you perform.
		Inspired by <em>Advent of Code</em>, the problems in TTBB don’t require deep programming knowledge.  You can approach questions from any angle and even brute force the questions without even touching code, but each problem is guarenteed to have a programmable solution that can run in under 5 seconds.
		You can test a few questions out to get the general feel of things, but feel free to create an account to keep track of your progress!
	</p>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
