{% extends 'base.html' %}
{% set title = '' %}
{% block styles %}
<link rel="stylesheet" href="/res/style/about.css" text="text/css">
{% endblock %}
{% block content %}
<div class="about">
	<h1 id="about-us">About Us</h1>
	<p>We are a group of students with a passion for Computer Science. We strive to bring together a community of students who love to code. As a club we participate in various events and work on projects.</p>
</div>
<div class="about">
	<h1 id="about-problems">About The Problems</h1>
	<p>Welcome to <em>The Trials of Bits and Bytes</em>, a choose-your-own-adventure game full of programming puzzles to help sharpen your skills. Work your way through problems with branching paths determining which action you perform. Inspired by <em>Advent of Code</em>, the problems in TTBB don’t require deep programming knowledge; you can approach questions from any angle and even brute force the questions without even touching code. However, each problem is guaranteed to have a programmable solution that can run in under five seconds. Feel free to test a few questions out as a guest, but remember that creating an account will allow you to keep track of your progress and enter the leaderboard, and only requires a GitHub account!
	</p>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
