{% extends 'base.html' %}
{% set title = '' %}
{% block styles %}
<link rel="stylesheet" href="/res/style/index.css" text="text/css">
{% endblock %}
{% block content %}
<section class="hero">
	<h1>Branham Programming Club</h1>
	<div class="button-row">
		<a class="button button-clear" target="_blank" rel="noopener" href="https://www.instagram.com/branhamprogramming/">Instagram</a>
		<a class="button button-clear" target="_blank" rel="noopener" href="https://discord.gg/6EtcRdC">Discord</a>
		<a class="button button-clear" target="_blank" rel="noopener" href="https://github.com/BranhamProgrammingClub">GitHub</a>
	</div>
</section>
{% endblock %}
{% block scripts %}
{% endblock %}
