{% extends 'base.html' %}
{% set title = 'Projects' %}
{% block styles %}
<link rel="stylesheet" href="/res/style/projects.css" text="text/css">
{% endblock %}
{% block content %}
<figure class="tile">
	<img src="/res/img/sudoku.svg" alt="Sudoku"/>
	<h5 class="name"><a href="https://github.com/OlexG/Sudoku-Solver">Sudoku Solver</a></h5>
	<h6 class="author">By Oleksandr Gorpynich</h6>
	<p class="description">Takes in an input of 9 by 9 integers and returns the solved puzzle. Uses DFS and a stack.</p>
</figure>
<figure class="tile">
	<img src="/res/img/tetris.png" alt="Tetris"/>
	<h5 class="name"><a href="https://mattfellenz.be/tetris/" target="_blank">Tetris in Elm</a></h5>
	<h6 class="author">By Matt Fellenz</h6>
	<p class="description">Making Tetris using the Elm framework and SVGs</p>
</figure>
<figure class="tile">
	<img src="/res/img/default.jpg" alt="(No image)"/>
	<h5 class="name"><a href="https://github.com/mkedar/javaStocksInfo" target="_blank">JavaStocksInfo</a></h5>
	<h6 class="author">By Matan Kedar</h6>
	<p class="description">Takes Marketwatch stock data and displays it on the chosen 1–15 tickers, using the HTML of the website. Live data only works when the market is open. No APIs.</p>
</figure>
{% endblock %}
{% block scripts %}
{% endblock %}
