<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% if desc %}{{desc}}{% endif %}">
		<title>{% if title %}{{title}} · {% endif %}BranhamCodes</title>
		<link rel="stylesheet" href="/res/style/normalize.min.css" type="text/css">
		<link rel="stylesheet" href="/res/style/milligram.min.css" type="text/css">
		<link rel="stylesheet" href="/res/style/common.css" type="text/css">
		{% block styles %}{% endblock %}
		<link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
	</head>
	<body>
		{% include 'partials/nav.html' %}
		{% block content %}{% endblock %}
		{% block scripts %}{% endblock %}
	</body>
</html>
